<h1><%= facade.member_count %> GoT Members </h1>

<% facade.members.each do |member| %>
  <ul class='member'>
    <li class='name'>Name: <%= member.name %></li>
    <li class='id'>ID: <%= member.id %></li>
  </ul>
<% end %>
